[Desktop Entry]
Icon=preferences-system-time
Type=Service
X-KDE-ServiceTypes=SystemSettingsExternalApp
Exec=/usr/bin/drakclock

X-KDE-System-Settings-Parent-Category=system-administration

Name=Date & Time (drakclock)
Name[ar]=التاريخ && الوقت (drakclock)
Name[bg]=Дата и час (drakclock)
Name[ca]=Data i hora (drakclock)
Name[cs]=Datum a čas (drakclock)
Name[da]=Dato og tid (drakclock)
Name[de]=Datum && Zeit (drakclock)
Name[el]=Ημερομηνία && Ώρα (drakclock)
Name[en_GB] Date & Time (drakclock)
Name[es]=Fecha y hora (drakclock)
Name[et]=Kuupäev ja kellaaeg (drakclock)
Name[eu]=Data e&ta ordua (drakclock)
Name[fi]=Päiväys ja aika (drakclock)
Name[fr]=Date et heure (drakclock)
Name[ga]=Dáta agus Am (drakclock)
Name[gl]=Data e hora (drakclock)
Name[he]=תאריך ושעה (drakclock)
Name[hi]=दिनांक व समय (drakclock)
Name[hr]=Datum &i vrijeme (drakclock)
Name[hu]=Dátum és idő (drakclock)
Name[id]=Tanggal && Waktu (drakclock)
Name[is]=Dagsetning og tími (drakclock)
Name[it]=Data e ora (drakclock)
Name[ja]=日時 (drakclock)
Name[kk]=Күн мен Уақыт (drakclock)
Name[km]=កាល​បរិច្ឆេទ និង​ពេលវេលា​ (drakclock)
Name[ko]=날짜와 시간 (drakclock)
Name[lt]=Data ir Laikas (drakclock)
Name[lv]=Datums un laiks (drakclock)
Name[nb]=Dato && tid (drakclock)
Name[nds]=Datum un Tiet (drakclock)
Name[nl]=Datum && tijd (drakclock)
Name[nn]=Dato og klokkeslett (drakclock)
Name[pa]=ਮਿਤੀ ਤੇ ਸਮਾਂ (drakclock)
Name[pl]=Data i czas (drakclock)
Name[pt_BR]=Data e hora (drakclock)
Name[pt]=Data e Hora (drakclock)
Name[ro]=Data și ora (drakclock)
Name[ru]=Дата и время (drakclock)
Name[sk]=Dátum a čas (drakclock)
Name[sl]=Datum in čas (drakclock)
Name[sr@ijekavianlatin]=Datum i vrijeme (drakclock)
Name[sr@ijekavian]=Датум и вријеме (drakclock)
Name[sr@latin]=Datum i vreme (drakclock)
Name[sr]=Датум и време (drakclock)
Name[sv]=Datum och tid (drakclock)
Name[th]=วันและเวลา (drakclock)
Name[tr]=Tarih ve Saat (drakclock)
Name[uk]=Дата та час (drakclock)
Name[wa]=Date et eure (drakclock)
Name[zh_CN]=日期和时间 (drakclock)
Name[zh_TW]=日期與時間 (drakclock)

Comment=Date, Clock & Time Zone Settings
Comment[af]=
Comment[am]=
Comment[ar]=
Comment[az]=
Comment[be]=
Comment[bg]=Дата, Часовник и Настройки на часова зона
Comment[bn]=
Comment[br]=Kefluniadur an deizid, an eurier hag an amzer
Comment[bs]=Postavke datuma, sata i vremenske zone
Comment[ca]=
Comment[cs]=Nastavení data, hodin a časové zóny
Comment[cy]=Gosodiadau Dyddiad Cloc a Chylchedd Amser
Comment[da]=Dato-, klokke- og tidszoneopsætning
Comment[de]=Datum, Zeit und Zeitzonen Einstellungen
Comment[el]=Ημερομηνία, Ρολόι κ' Ρυθμίσεις Ζώνης Ώρας
Comment[eo]=
Comment[es]=Configuración de la fecha, hora y huso horario
Comment[et]=Kuupäeva, kellaaja ja ajavööndi seadistamine
Comment[eu]=Data, ordulari eta ordu gune ezarpenak
Comment[fa]=
Comment[fi]=Päivämäärän, kellonajan ja aikavyöhykkeen asetukset
Comment[fr]=Réglages de la date, de l'heure et du fuseau horaire
Comment[fur]=
Comment[ga]=
Comment[gl]=Configuración de Data, Reloxo e Zona Horaria
Comment[he]=הגדרות תאריך, שעון ואזור-זמן
Comment[hi]=
Comment[hr]=
Comment[hu]=Dátum-, óra- és időzóna-beállítások
Comment[id]=Setting Tanggal, Jam & Zona Waktu
Comment[is]=Dagsetning, Tími og tímabelti
Comment[it]=Impostazione di data, ora e fuso orario
Comment[ja]=日付、時刻とタイムゾーンの設定
Comment[ko]=날짜, 시간 & 시간대 설정
Comment[ky]=
Comment[ltg]=
Comment[lt]=
Comment[lv]=
Comment[mk]=
Comment[mn]=
Comment[ms]=
Comment[mt]=
Comment[nb]=Dato, klokkeslett og tidssone
Comment[nl]=Datum-, klok- & tijdzone-instellingen
Comment[nn]=Dato, klokkeslett og tidssone
Comment[pa_IN]=
Comment[pl]=Ustawienia daty, zegara i strefy czasowej
Comment[pt_BR]=Configurações de Data, Hora e Fuso Horário
Comment[pt]=Definições de Data, Hora e Fuso Horário
Comment[ro]=Configurări de dată, oră și fus orar
Comment[ru]=Настройка даты, времени и часового пояса
Comment[sc]=
Comment[sk]=
Comment[sl]=Nastavitev ure in časovnega pasu
Comment[sq]=
Comment[sr@Latn]=
Comment[sr]=
Comment[sv]=Datum, Tid & Tidszon inställningar
Comment[ta]=
Comment[tg]=
Comment[th]=
Comment[tl]=
Comment[tr]=Tarih, Saat & Zaman Dilimi Ayarları
Comment[uk]=Параметри дати, часу та часового поясу
Comment[uz@cyrillic]=Сана, соат ва вақт ҳудуди мосламалари
Comment[uz]=Sana, soat va vaqt hududi moslamalari
Comment[vi]=
Comment[wa]=Apontiaedjes del date, di l' eure eyet del coisse d' eureye
Comment[zh_CN]=日期、时钟和时区设置
Comment[zh_TW]=日期、時間與時區設定

X-KDE-Keywords=packages
Categories=Qt;KDE;X-KDE-information;

