[Desktop Entry]
Encoding=UTF-8
Name=KRandRTray
Name[hu]=Képernyőfelbontás
Name[pt_BR]=Ícone do KRandR
Name[sv]=Krandrtray
Name[vi]=Khay KRandR
GenericName=Screen Resize & Rotate
GenericName[af]=Skerm Hervergroot & Roteer
GenericName[bg]=Размер и ротация на екрана
GenericName[bn]=পর্দা মাপবদল ও আবর্তন
GenericName[br]=Adventañ ha treiñ ar skramm
GenericName[bs]=Veličina i rotacija ekrana
GenericName[ca]=Amida i gira la pantalla
GenericName[cs]=Změna velikosti a rotace obrazovky
GenericName[cy]=Newid Maint a Cylchdroi'r Sgrîn
GenericName[da]=Ændr størrelse på skærm & Rotér
GenericName[de]=Bildschirmgröße & -ausrichtung ändern
GenericName[el]=Αλλαγή μεγέθους & Περιστροφή οθόνης
GenericName[es]=Redimensionar y rotar pantalla
GenericName[et]=Ekraani suuruse muutmine ja pööramine
GenericName[eu]=Pantailaren tamaina aldaketa eta biraketa
GenericName[fi]=Näytön kuvan koon muuttaminen ja kuvan kääntäminen
GenericName[fr]=Redimensionnement et rotation de l'écran
GenericName[fy]=Skerm rotearje en grutte wizigje
GenericName[gl]=Rotazón e Redimensionamento da Pantallla
GenericName[he]=שינוי גודל המסך וסיבובו
GenericName[hr]=Veličine i orijentacija zaslona
GenericName[hu]=Képernyőbeállító
GenericName[is]=Stærð og snúningur skjáa
GenericName[it]=Ruota e ridimensiona lo schermo
GenericName[ja]=スクリーンのリサイズと回転
GenericName[km]=ប្ដូរ​ទំហំ & បង្វិល​អេក្រង់
GenericName[lt]=Ekrano dydžio keitimas ir pasukimas
GenericName[mk]=Големина и ротација на екранот
GenericName[ms]=Saiz Semula Skrin & Putar
GenericName[nb]=Endre størrelsen på og rotere skjermbildet
GenericName[nds]=Schirmgrött un -utrichten ännern
GenericName[nl]=Scherm roteren en grootte wijzigen
GenericName[nn]=Endra storleiken på og roter skjermbiletet
GenericName[pa]=ਪਰਦਾ ਮੁੜ ਆਕਾਰ ਤੇ ਘੁੰਮਾਓ
GenericName[pl]=Obrót i zmiana rozmiaru ekranu
GenericName[pt]=Mudar o Tamanho e Rodar o Ecrã
GenericName[pt_BR]=Redimensionar Tela & Rotacionar
GenericName[ro]=Redimensionare şi rotire ecran
GenericName[ru]=Изменение размера и ориентации экрана
GenericName[rw]=Kuhindura ingano & Kuzengurutsa Mugaragaza
GenericName[se]=Rievdat šearbmagova sturrodaga ja jorat dan
GenericName[sk]=Zmena veľkosti a otočenia obrazovky
GenericName[sl]=Spreminjanje velikosti in obračanje zaslona
GenericName[sr]=Промена величине и ротација екрана
GenericName[sr@Latn]=Promena veličine i rotacija ekrana
GenericName[sv]=Ändra skärmstorlek och rotera
GenericName[ta]=திரை அளவு மாற்று & சுழற்று
GenericName[tg]=Тағйири андоза & Гардиш
GenericName[th]=ปรับขนาดและหมุนหน้าจอ
GenericName[tr]=Ekran Boyutlandır ve Döndür
GenericName[tt]=Küräk Ülçäme & Borılışı
GenericName[uk]=Зміна розміру та обертання екрана
GenericName[uz]=Экранинг ўлчамини ўзгартириш ва буриш
GenericName[vi]=Thay đổi cỡ màn hình & Quay
GenericName[zh_CN]=屏幕大小和旋转
GenericName[zh_TW]=螢幕調整大小及旋轉
Comment=Resize and rotate X screens.
Comment[af]=Hervergroot en roteer X skerms.
Comment[bg]=Размер и ротация на екрана.
Comment[bn]=আপনার এক্স-স্ক্রীণ-এর আকৃতি এবং দিশা পরিবর্তন করুন
Comment[bs]=Podesite veličinu i rotirajte vaš ekran.
Comment[ca]=Gira i amida les pantalles X
Comment[cs]=Změna velikosti a rotace obrazovky.
Comment[da]=Ændrer størrelse og roterer X-skærme
Comment[de]=Die Größe und Ausrichtung der Anzeige ändern
Comment[el]=Αλλαγή μεγέθους και περιστροφή της οθόνης.
Comment[es]=Ajustar el tamaño y rotar las pantallas X
Comment[et]=X'i ekraani muutmine ja pööramine
Comment[eu]=Aldatu tamaina eta biratu zure X pantailak.
Comment[fi]=Näytön kuvan koon muuttaminen ja kuvan kääntäminen
Comment[fr]=Redimensionner et retourner votre affichage.
Comment[fy]=Skermgrutte wizigje en rotearje X skermen
Comment[ga]=Athraigh an méid agus rothlaigh scáileáin X.
Comment[gl]=Redimensionar e rotar pantallas
Comment[he]=שנה את גודלה של התצוגה שלך וסובב אותה.
Comment[hr]=Promjena veličine i orijentacije X zaslona
Comment[hu]=A képernyő átméretezése, elforgatása
Comment[is]=Breyta stærð skjásins og snúa honum.
Comment[it]=Ridimensiona e ruota gli schermi di X.
Comment[ja]=X スクリーンのリサイズと回転。
Comment[km]=ប្ដូរ​ទំហំ និង បង្វិល​អេក្រង់ X ។
Comment[lt]=Keisti X ekrano dydį ir orientaciją.
Comment[mk]=Сменете ја големината и ротацијата на вашиот екран
Comment[nb]=Endrer størrelsen på og roterer X-skjermbildet
Comment[nds]=Grött un Utrichten vun den X-Schirm ännern
Comment[nl]=Scherm roteren en van grootte veranderen
Comment[nn]=Endra storleiken på og roter X-skjermbiletet.
Comment[pa]=X ਸਕਰੀਨ ਨੂੰ ਮੁੜ-ਅਕਾਰ ਅਤੇ ਘੁੰਮਾਓ।
Comment[pl]=Zmiana rozmiaru i orientacji ekranów.
Comment[pt]=Redimensionar e rodar os ecrãs do X.
Comment[pt_BR]=Redimensiona e rotaciona as tela do X.
Comment[ru]=Изменение размера и ориентации экранов X.
Comment[se]=Rievdat X-šearpmaid sturrodaga ja joraheami.
Comment[sk]=Zmení veľkosť a otočí obrazovky
Comment[sl]=Spremenite velikost in obrnite zaslon.
Comment[sr]=Промените величину и оријентацију екрана
Comment[sr@Latn]=Promenite veličinu i orijentaciju ekrana
Comment[sv]=Storleksändring och rotation av X-skärmar.
Comment[tg]=Тағйири андоза ва гардиши экранҳо Х.
Comment[th]=ปรับแต่งการแสดงผลของ X
Comment[tr]=Ekranı boyutlandır ve çevir.
Comment[uk]=Зміна розміру та обертання екранів X.
Comment[uz]=Экранинг ўлчамини ўзгартириш ва буриш
Comment[vi]=Đổi cỡ và quay màn hình X.
Comment[zh_CN]=更改 X 屏幕的大小和旋转。
Comment[zh_TW]=調整大小及旋轉 X 螢幕。
Exec=krandrtray
Icon=randr
Type=Application
OnlyShowIn=KDE;
Categories=Qt;KDE;System;
X-KDE-autostart-condition=krandrrc:General:AutoStart:true
