[Desktop Entry]
Exec=systemsettings -caption "%c" %i
Icon=preferences-system
Type=Application
X-DocPath=systemsettings/index.html
X-KDE-StartupNotify=true

GenericName=Configure Your Desktop
GenericName[ar]=تهيئة سطح المكتب
GenericName[bn]=ডেস্কটপ কনফিগার করুন
GenericName[br]=Kefluniañ ho purev
GenericName[bs]=Podesite vaš desktop
GenericName[ca]=Configura el teu escriptori
GenericName[cs]=Nastavit vaše pracovní prostředí
GenericName[cy]=Ffurfweddu eich Bwrdd Gwaith
GenericName[da]=Konfigurér dit skrivebord
GenericName[de]=Die Arbeitsumgebung konfigurieren
GenericName[el]=Ρυθμίστε την επιφάνεια εργασίας σας
GenericName[es]=Configurar su escritorio
GenericName[et]=Töölaua seadistamine
GenericName[eu]=Konfiguratu Zure Idaztegia
GenericName[fa]=تنظیم رومیزی خود
GenericName[fi]=Aseta työpöytäsi
GenericName[fr]=Configurer votre bureau
GenericName[gl]=Configure o seu Escritorio
GenericName[he]=הגדרות שולחן העבודה שלך 
GenericName[hu]=A munkaasztal beállítása
GenericName[id]=Konfigurasi Desktop Anda
GenericName[is]=Stilla skjáborðið þitt
GenericName[it]=Configura il tuo desktop
GenericName[ja]=デスクトップを設定
GenericName[ky]=Иш үстөлүн Конфигдөө
GenericName[mk]=Конфигурирајте ја површината
GenericName[nb]=Innstillinger for skrivebordet ditt
GenericName[nl]=Uw werkomgeving configureren
GenericName[nn]=Set opp skrivebordet
GenericName[pl]=Konfiguracja pulpitu
GenericName[pt]=Configure o Seu Ecrâ
GenericName[pt_BR]=Configurar sua sessão
GenericName[ru]=Настройка рабочего стола
GenericName[sc]=Assètia sa Scriania
GenericName[sk]=Nastavenie vašej pracovnej plochy
GenericName[sl]=Nastavite svoje namizje
GenericName[sv]=Anpassa skrivbordet
GenericName[tg]=Танзими Мизи Кории Худ
GenericName[th]=ตั้งค่าสำหรับพื้นที่ทำงานของคุณ
GenericName[uk]=Налаштувати стільницю
GenericName[uz]=Иш столини мослаш
GenericName[uz@Latn]=Ish stolini moslash
GenericName[vi]=Cấu hình desktop
GenericName[wa]=Apontyî vosse sicribanne
GenericName[zh_CN]=配置您的桌面
GenericName[zh_TW]=設定您的桌面

Name=Configure Your Desktop
Name[ar]=تهيئة سطح المكتب
Name[bn]=ডেস্কটপ কনফিগার করুন
Name[br]=Kefluniañ ho purev
Name[bs]=Podesite vaš desktop
Name[ca]=Configura el teu escriptori
Name[cs]=Nastavit vaše pracovní prostředí
Name[cy]=Ffurfweddu eich Bwrdd Gwaith
Name[da]=Konfigurér dit skrivebord
Name[de]=Die Arbeitsumgebung konfigurieren
Name[el]=Ρυθμίστε την επιφάνεια εργασίας σας
Name[es]=Configurar su escritorio
Name[et]=Töölaua seadistamine
Name[eu]=Konfiguratu Zure Idaztegia
Name[fa]=تنظیم رومیزی خود
Name[fi]=Aseta työpöytäsi
Name[fr]=Configurer votre bureau
Name[gl]=Configure o seu Escritorio
Name[he]=הגדרות שולחן העבודה שלך 
Name[hu]=A munkaasztal beállítása
Name[id]=Konfigurasi Desktop Anda
Name[is]=Stilla skjáborðið þitt
Name[it]=Configura il tuo desktop
Name[ja]=デスクトップを設定
Name[ky]=Иш үстөлүн Конфигдөө
Name[mk]=Конфигурирајте ја површината
Name[nb]=Innstillinger for skrivebordet ditt
Name[nl]=Uw werkomgeving configureren
Name[nn]=Set opp skrivebordet
Name[pl]=Konfiguracja pulpitu
Name[pt]=Configure o Seu Ecrâ
Name[pt_BR]=Configurar sua sessão
Name[ru]=Настройка рабочего стола
Name[sc]=Assètia sa Scriania
Name[sk]=Nastavenie vašej pracovnej plochy
Name[sl]=Nastavite svoje namizje
Name[sv]=Anpassa skrivbordet
Name[tg]=Танзими Мизи Кории Худ
Name[th]=ตั้งค่าสำหรับพื้นที่ทำงานของคุณ
Name[uk]=Налаштувати стільницю
Name[uz]=Иш столини мослаш
Name[uz@Latn]=Ish stolini moslash
Name[vi]=Cấu hình desktop
Name[wa]=Apontyî vosse sicribanne
Name[zh_CN]=配置您的桌面
Name[zh_TW]=設定您的桌面

X-DBUS-StartupType=Unique
Categories=Qt;KDE;System;
